.tulisan_satu{
    color: red;
    font-family: sans-serif;
    font-style: normal;
}

.tulisan_dua{
    color: green;
    font-size: 24pt;
    font-style: italic;
}

.tulisan_tiga{
    color: blue;
    font-weight: bold;
    font-style: oblique;
}