div.static {
    position: static;
    border: 3px solid #73AD21;
  }
  
  div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }
  
  div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }
  
  div.relative1 {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  }
  
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }
  
  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    border: 2px solid #4CAF50;
  }