h2{
    color: orange;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.kotak{
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: orange;
}

#kotak{
    width: 400px;
    color: #fff;
    background: blue;
    padding: 50px;
}

body{
    background: url('img/tree1.jpg'), url('img/field1.jpg');
    background-repeat: no-repeat, repeat;
    color: white;
}