.label-required {
    font-family: 'Times New Roman', Times, serif;
    color: darkorange;
    font-size: x-large;
}

label, span {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    width: fit-content;
}